# Operating System Files
.DS_Store
Thumbs.db

# IDE & Text Editors
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp

# Local Env
.env
.env.local
.env.development
.env.production
.env.test

# Logs & Temporary Files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
logs/
*.log
